@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF;
  --foreground: #ededed;
  --text-color: #0B4A3B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFD15C;
    --foreground: #ededed;
    --text-color: #0B4A3B;

  }
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}